html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  line-height: 1.42;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  /* to smooth fonts */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

.wrapper {
  overflow: hidden;
  min-height: 100%;
  width: 100%;
  background-color: cornsilk;;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}

a {
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: darkcyan;
}

.container__header {
  position: relative;
}

.header__title {
  font-size: 16px;
  color: white;
  font-weight: bold;
}

.copyright {
  position: absolute;
  left: 50px;
  top: 50px;
  display: flex;
  align-items: center;
}

.socials {
  position: absolute;
  right: 50px;
  top: 50px;
}

.social-list {
  display: flex;
}

.social-item {
  margin-left: 15px;
}

.social-img {
  width: 22px;
  height: 22px;
  fill: white;
  transition: .3s;
}

.social-img:hover {
  fill: lightcoral;
}

.top {
  background-color: darkcyan;
  height: 100%;
  width: 100%;
}

.title {
  text-align: center;
  font-size: 44px;
  font-weight: bold;
  color: cornsilk;
  padding:  20px 50px 0 50px;

}

.title:after {
  content: '';
  display: inline-block;
  width: 100%;
  height: 2px;
  background-color: cornsilk;
  text-align: center;
}

#form {
  display: flex;
  color: black;
  justify-content: space-around;
  margin-top: 130px;
  height: 230px;
  padding-top: 25px;
  margin-bottom: 45px;
}

.form__row {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.form__block {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form__title {
  color: white;
  font-size: 17px;
}

.form__row_btns {
  padding: 0 50px 15px 50px;
  text-align: center;
}

.form__row_btns:after {
  content: '';
  display: inline-block;
  width: 100%;
  height: 2px;
  background-color: cornsilk;
  text-align: center;
  margin: 30px 0 0px 0;
}

.form__input {
  width: 115px;
  margin-left: 10px;
  border-radius: 5px;
  outline: none;
  border: 1px solid black;
  box-shadow: 0px 0px 10px 0px black;
  padding: 7px;
  background-color: #00b15f;
  color: #ffffff;
  font-weight: bold;

}

.form__input:focus {
  box-shadow: 0 0 10px 0 black;
  border: 1px dashed black;
  opacity: .5;
  font-weight: bold;
  color: white;
}

.form__input-color {
  width: 75px;
  margin-left: 10px;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  height: 32px;
  border: 1px solid black;
  box-shadow: 0 0 10px 0 black;
}

.form__input-color:focus {
  box-shadow: 0 0 10px 0 black;
  border: 1px dashed black;
  opacity: .5;
}

.form__checkbox {
  margin-left: 10px;
  cursor: pointer;
}

.form__select {
  margin-left: 10px;
  cursor: pointer;
  min-width: 70px;
  outline: none;
  border: 1px solid black;
  box-shadow: 0 0 10px 0 black;
  padding: 7px;
  height: 32px;
  background-color: #00b15f;
  color: #ffffff;
  font-weight: bold;
}

.form__select:focus {
  box-shadow: 0 0 10px 0 black;
  border: 1px dashed black;
  opacity: .5;
  color: #ffffff;
  font-weight: bold;
}

.btn {
  padding: 10px;
  outline: none;
  border: 1px solid #ffffff;
  width: 150px;
}

#btn__generate {
  background-color: coral;
  cursor: pointer;
  border-radius: 5px;
  transition: all .5s;
  font-weight: bold;
}


#btn__generate:hover {
  background-color: white;
  color: darkcyan;
}

#btn__get {
  margin-left: 40px;
  background-color: yellow;
  cursor: pointer;
  border-radius: 5px;
  transition: all .5s;
  font-weight: bold;
}

#btn__get:hover {
  background-color: white;
  color: darkcyan;

}

.bottom {
  padding-bottom: 30px;
}

.container__table {

}

.table, tr, th, td  {
  border: 1px solid black;
}

td {
  width: 0%;
}

#table {
  margin: 25px auto 0 auto;
}

th {
  text-align: center;
}

.table-code {
  min-height: 100%;
}

.table-code {
  min-height: 100%;
  width: 1000px;
  overflow: hidden;
  padding: 25px;
  color: crimson;
  font-weight: bold;
  border-radius: 5px;
  text-align: center;
  margin-top: 30px;
}

.footer {
  height: 140px;
  background-color: darkcyan;
}

.container__footer {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__title {
  color: white;
  font-size: 18px;
}

.icon-love_header {
  width: 15px;
  height: 15px;
  margin-left: 15px;
}

.icon-love {
  width: 15px;
  height: 15px;
  margin-left: 15px;
  margin-bottom: 5px;
}

.footer__copyright {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.footer__copyright:before {
  content: '';
  display: inline-block;
  width: 100%;
  height: 2px;
  background-color: cornsilk;
  text-align: center;
  margin-bottom: 10px
;
}

.footer__copyright:after {
  content: '';
  display: inline-block;
  width: 100%;
  height: 2px;
  background-color: cornsilk;
  text-align: center;
  margin-top: 10px;
}

.footer__year {
  font-size: 24px;
  color: white;
  font-weight: bold;

}







